body {
 background-color: black;
}

#pageTitle {
  font-family: Calibri, sans-serif;
  text-align: center;
  font-size: 50px;
  color:white;
  transition: 500ms ease;
  font-variation-settings: "wght" 300;
}

#pageTitle:hover{
  letter-spacing: 1px;
  font-variation-settings: "wght" 500; 
  text-shadow: 5px 5px grey
}

#planets {
	border-collapse:collapse;
  padding:15px;
  width:100%;
  text-align:center;
  font-family: Calibri, sans-serif;
  color:white;
  }

#planets tr td {
  padding: 26px;
  font-size: 20px;
}

#planets tr td:nth-child(even){
  background-color:rgb(45, 45, 45);
}

#planets tr td:nth-child(odd){
  background-color:black;
}

#planets thead{
  font-size:25px;
  background-color:rgb(30, 30, 30);
}

.planetImages {
    height:190px;
    width:190px;
    border-radius:9px;
}

.planetData {
  font-size: 25px;
  font-weight: bold;
  background-color:rgb(45, 45, 45); 
}